# Core Dependencies
eel
pyttsx3
pywhatkit
wikipedia
pyautogui
requests
screen_brightness_control
opencv-python
deep-translator
pygame
psutil
pygetwindow
beautifulsoup4
lxml

# Voice & Face & Gestures
SpeechRecognition
PyAudio
edge-tts
setuptools<71
mediapipe
face-recognition
