# Core Dependencies
eel
pyttsx3
pywhatkit
wikipedia
pyautogui
requests
screen_brightness_control
opencv-python
deep-translator
pygame

# Voice & Face & Gestures
SpeechRecognition
PyAudio
edge-tts
setuptools<71
face_recognition_models
face_recognition
mediapipe
